<?xml version="1.0" encoding="utf-8"?>
<go-plugin id="com.haufelexware.gocd.plugin.octane"	version="1">
	<about>
		<name>OctaneGoCDPlugin</name>
		<version>1.4</version>
		<target-go-version>17.9.0</target-go-version>
		<description>Allows integration of GoCD with HPE ALM Octane: making pipelines and test results accessible in HPE ALM Octane.</description>
		<vendor>
			<name>Haufe Group</name>
			<url>https://www.haufegroup.com</url>
		</vendor>
	</about>
</go-plugin>
